
.gallery {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    // mobail
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 75%, #84A178 25%);

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) { 
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 75%, #84A178 25%);
              
    }
    // tablet
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 55%, #84A178 45%);
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 55%, #84A178 45%);
        }
        
        //desctop
        @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 78%, #84A178 22%);
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0 ) 78%, #84A178 22%);
        }
        }
        }
}

.gallery__big {

    @media screen and (max-width: 767px) {
        display: block;
        width: 100vw;
        border-radius: 10px;
    }
    

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        width: 100%;
        height: 327px;
        border-radius: 16px;
    }
    @media screen and (min-width: 1200px) {
        
        
        width: 1013px;
        height: 422px;
        border-radius: 26px;
    }
}
.swiper-wrapper {
    display: none;
}
.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    height: 100%;
}
.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    
    clip-path: inset(50%);
    border: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
