
.goods {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0;
    color: #131313;
    @media screen and (min-width: 1200px){
        padding-bottom: 40px;
    }
}
.overlay_product {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #84A178;
    background-image: url(../images/Backgroud_mobile885x1242.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/Backgroud_mobile1770x2484@2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image:
        url(../images/Background_tablet963x1017.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Background_tablet1926x2034@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
    background-image: 
        url(../images/Backgroud_desktop1300x1350.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Backgroud_desktop2600x2700@2x.jpg);
    }
}
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  //  outline: 1px solid #dc143c55;
    @media screen and (min-width: 480px) {
    width: 480px;
    }
    @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    }
    @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    }
}
.quality-percentages {
    color: #131313;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    font-style: normal;
    margin-bottom: 12px;
    @media screen and (min-width: 768px){
        font-size: 22px;
        line-height: 1.22;
    }
    @media screen and (min-width: 1200px){
        font-size: 30px;
        line-height: 1.23;
    }
}
.title-section {
    font-family: 'Seymour One';
    font-style: normal;
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    text-transform: uppercase;

    @media screen and (min-width: 768px){
        font-size: 34px;
        line-height: 1.26;
        margin-bottom: 80px;
    }
    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 120px;
    }
}
.list-products {
    display: block;
    gap: 60px;
    display: flex;
    justify-content: center;
    margin: -0px;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){
        gap: 16px;
        flex-wrap: nowrap;
    }
    @media screen and (min-width: 768px){
        gap: 29px;
        flex-wrap: nowrap;
    }
}
.list-products__net {
    border-radius: 24px;
    text-align: center;
    max-width: 100%;
    padding-bottom: 16px;
    padding-right: 40px;
    padding-left: 40px;
    flex-basis: calc(100% - 40px);
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 3 * 16px) / 3);
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 12px;
    }
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 3 * 29px) / 3);
        padding-right: 0;
        padding-left: 0;
    }
}

.list-products__net:nth-child(1) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #AEC6A5 80
    );
}
.list-products__net:nth-child(2) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #EFD478 80
    );
}
.list-products__net:nth-child(3) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #D6936D 80
    );
}
.list-products_.list-products__net {
    margin-bottom: 0;
}

.list-products__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        width: 302px;
        height: 302px;
    }
}

.list-products__image--one{
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    position: relative;
}
.list-products__image--two{
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    position: relative;
}
.list-products__image--three {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    position: relative;
}
.list-products__image--one::before {
    content: '';
    position: absolute;
    background-color: #131313;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 5%;
    right: 0;
    background-color: #84A178;
    background-image: url(../images/icecoffeeMT200x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/icecoffeeMT400x400@2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image:
        url(../images/icecoffeeMTD132x132.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icecoffeeMTD264x264@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
    background-image: 
        url(../images/icecoffeeD302x302.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icecoffeeD604x604@2x.jpg);
    }
    width: 302px;
    height: 302px;
}
}
.list-products__image--two::before {
    content: '';
    position: absolute;
    background-color: #131313;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 5%;
    right: 0;
    background-color: #84A178;
    background-image: url(../images/icecreamMT200x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/icecreamMT400x400@2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image:
        url(../images/icecreamMTD132x132.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icecreamMTD264x264@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
    background-image: 
        url(../images/icecreamD302x302.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icecreamD604x604@2x.jpg);
    }
    width: 302px;
    height: 302px;
}
}
.list-products__image--three::before {
    content: '';
    position: absolute;
    background-color: #131313;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 5%;
    right: 0;
    background-color: #84A178;
    background-image: url(../images/milkshakeMT200x200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/milkshakeMT400x400@2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image:
        url(../images/milkshakesMTD132x132.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/milkshakesMTD264x264@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
    background-image: 
        url(../images/milkshakesD302x302.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/milkshakesD604x604@2x.jpg);
    }
    width: 302px;
    height: 302px;
}

}
.list-products__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    line-height: 1.22;
/* identical to box height */
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    @media screen and (min-width: 1200px){
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 66px;
    }
}
.list-products__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 176%;
    min-height: 190px;
/* or 25px */
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) and (max-width: 1200px){
        padding: 0 30px;
    }
    @media screen and (min-width: 1200px){
        font-size: 16px;
        padding: 0 62px;
    }
}
.list-products__modal--button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    border: none;
}
.list-products__arrow {
    width: 40px;
    height: 16px;
}
.list-products__net:last-child {
    margin-bottom: 0px;
}
.one-product {
    margin-bottom: 101px;
    @media screen and (min-width: 768px) {
        margin-bottom: 97px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 75px;
    }
}
.two-product {
    margin-bottom: 53px;
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
    }
}
.three-product {
    margin-bottom: 62px;
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
    }
}
