li {
    list-style-type: none;
}
ul {
    margin: 0px;
    padding-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
p {
    margin: 0px;
}
img {
    display: block;
    max-width: 100%;
    z-index: 0;
}
a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: none;
    }
    a:active{
    text-decoration: none;
}
.goods {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0;
    color: #131313;
}
.overlay {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #84A178;
    background-image: url(../images/Backgroud_mobile885x1242.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/Backgroud_mobile1770x2484@2x.jpg);
    }
    @media screen and (min-width: 768px) {
    background-image:
        url(../images/Background_tablet963x1017.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Background_tablet1926x2034@2x.jpg);
    }
    }
    @media screen and (min-width: 1200px) {
    background-image: 
        url(../images/Backgroud_desktop1300x1350.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Backgroud_desktop2600x2700@2x.jpg);
    }
}
}
.container {
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.quality-percentages {
    color: #131313;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    font-style: normal;
    margin-bottom: 12px;
}
.title-section {
    font-family: 'Seymour One';
    font-style: normal;
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
}
.list-products {
    display: block;
    margin: -16px;
    @media screen and (max-width: 767px){
        padding: 0px 16px;

    }
    @media screen and (min-width: 768px){
        display: flex;
    }
}
.list-products__net {
    margin: 0px 16px 60px 16px;
    border-radius: 24px;
    flex-basis: calc(100% - 16px * 2) ;
    text-align: center;
    
    padding: 0 0px 16px 0;
    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 6 * 16px) / 3);
    }
}
.list-products__net:nth-child(1) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #AEC6A5 80
    );
}
.list-products__net:nth-child(2) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #EFD478 80
    );
}
.list-products__net:nth-child(3) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 20%,
        #D6936D 80
    );
}
.list-products_.list-products__net {
    margin-bottom: 0;
}
.list-products__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.list-products__image--one{
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.list-products__image--two{
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.list-products__image--three {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.list-products__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    line-height: 1.22;
/* identical to box height */
    letter-spacing: 0.04em;
    margin-bottom: 40px;
}
.list-products__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 176%;
/* or 25px */
    letter-spacing: 0.04em;
    margin-bottom: 100px;
    padding: 0 110px;
}
.list-products__modal--button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    border: none;
}
.list-products__arrow {
    width: 40px;
    height: 16px;
}
.list-products__net:last-child {
    margin-bottom: 0px;
}