p {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    z-index: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

// .container {
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: 480px) {
//         width: 480px;
//     }

//     @media screen and (min-width: 768px) {
//         width: 768px;
//     }

//     @media screen and (min-width: 1200px) {
//         min-width: 1200px;
//     }
// }

// for modal
.overlay-modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    min-width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    text-align: center;
    padding: 28px 20px;
    border: 2px solid var(--accentColor);
}
.modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    fill: #131313;
    cursor: pointer;
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
}
.form__group {
    position: relative;
}
.form__field {
    display: block;
    width: 100%;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--backgroundColor);
    border-radius: 10px;
}
.form__label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: var(--primaryColor);
}
.form__coment {
    position: relative;
}
.form__textarea {
    display: block;
    width: 100%;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--backgroundColor);
    border-radius: 10px;
    resize: none;
}
.form__textarea-label {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 11px;
    padding-left: 10.43px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--primaryColor);
}
.body {
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
     // mobail
        background-image: url(../images/Backgroud_mobile885x1242.jpg);

        @media screen and (min-device-pixel-ratio: 2),
         screen and (min-resolution: 192dpi),
         screen and (min-resolution: 2dppx) { 
         background-image: url(../images/Backgroud_mobile1770x2484@2x.jpg);
              
     }
    // tablet
        @media screen and (min-width: 768px) {
         background-image: url(../images/Background_tablet963x1017.jpg);
        }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/Background_tablet1926x2034@2x.jpg);
        }
        
         //desctop
        @media screen and (min-width: 1200px) {
            background-image: url(../images/Backgroud_desktop1300x1350.jpg);
         }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/Backgroud_desktop2600x2700@2x.jpg);
        }
}
