.btn__transparent {
  display: block;
  position: relative;
  max-width: 250px;
  min-width: 108px;
  min-height: 38px;
  padding: 8px 20px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #000000;

  
  background-color: transparent;
  border: 2px solid var(--accentColor);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  transition-property: background-color, color, border-color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);


  &:hover,
  &:focus {
    border-color: var( --btn-hoverColor);
  }
  &:focus {
      outline: none;
      color: var(--extrabackgroundColor);
    }
  &:disabled {
      outline: none;
      color: var(--primaryColor);
      border-color: var(--btn-disabledColor);
      cursor: initial;
    }  
  @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(18 / 14);
      padding: 10px 32px;
      border-radius: 10px;
      
  }  
}



.btn__colored {
  display: block;
  position: relative;
  max-width: 250px;
  min-width: 120px;
  min-height: 38px;
  padding: 10px 34px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #000000;
 
  
  background-color: var(--accentColor);
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

    transition-property: background-color, color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);

  &:hover,
  &:focus {
    
    background-color: var(--btn-hoverColor);
  }
  &:focus {
      outline: none;
      background-color: var(--btn-hoverColor);
      color: var(--extrabackgroundColor);
    }
  &:disabled {
      outline: none;
      color: var(--primaryColor);
      border-color: var(--btn-disabledColor);
      background-color: var(--btn-disabledColor);
      cursor: initial;
    }  
  
}


.btn__off {
  display: block;
  position: relative;
  max-width: 450px;
  min-width: 120px;
  min-height: 38px;
  padding: 9px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--accentColor);
  text-decoration: underline;
 
  
  background-color: transparent;
  border: 2px solid transparent;

  overflow: hidden;
  cursor: pointer;

  transition-property:  color;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTimingFunction);

  &:hover   {
    
    color: var(--btn-hoverColor);
  }
  &:focus {
      outline: none;
      color: var(--extrabackgroundColor);
    }
  &:disabled {
      outline: none;   
      color: var(--btn-disabledColor);
      cursor: initial;
    }  
  @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(18 / 14);
      padding: 10px 45px 10px 41px;
      border-radius: 10px;
      
  }  
}

.btn__colored-arrow {
  display: block;
  position: relative;
  width: 196px;
  min-width: 120px;
  min-height: 40px;
  padding: 10px 35px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #000000;

  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

 
  background-color: var(--accentColor);
  
  transition-property: background-color, color;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTimingFunction);

  &:hover,
  &:focus {
    
    background-color: var(--btn-hoverColor);
  }
  &:focus {
      outline: none;
      color: var(--extrabackgroundColor);
      background-color: var(--btn-hoverColor);

      &::after {
        content: '—';
      color: transparent;
      background: url(../images/but/arrow-w.svg) no-repeat right center;
      }
    }
  &:disabled {
      outline: none;
      color: var(--primaryColor);
      border-color: var(--btn-disabledColor);
      background-color: var(--btn-disabledColor);
      cursor: initial;
    }  
    &::after {
      content: '—';
      color: transparent;
      background: url(../images/but/arrow-b.svg) no-repeat right center;
      
    }   
 
}

.btn__transparent-arrow {
  display: block;
   position: relative;
  width: 196px;
  min-width: 120px;
  min-height: 40px;
  padding: 10px 35px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #000000;
  
  
  background-color: transparent;
  border: 2px solid var(--accentColor);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  
  transition-property: background-color, color, border-color;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTimingFunction);

  &:hover,
  &:focus {
    border-color: var( --btn-hoverColor);
  }
  &:focus {
      outline: none;
   
      color: var(--extrabackgroundColor);

      &::after {
        content: '—';
      color: transparent;
      background: url(../images/but/arrow-w.svg) no-repeat right center;
      }
    }
  &:disabled {
      outline: none;
      color: var(--primaryColor);
      border-color: var(--btn-disabledColor);
      cursor: initial;
    } 
  &::after {
    content: '—';
    color: transparent;
    background: url(../images/but/arrow-b.svg) no-repeat right center;
    
  }   
}


.btn__buy-arrow {
  display: none;
  position: relative;
  max-width: 250px;
  min-width: 152px;
  min-height: 40px;
  padding: 10px 33px;

  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #000000;
  
 
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  background-color: var(--accentColor);

    transition-property: background-color, color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
  
  @media screen and (min-width: 768px) {
    display: block;
  }

  &:hover,
  &:focus {
    
    background-color: var(--btn-hoverColor);
  }
  &:focus {
      outline: none;
      color: var(--extrabackgroundColor);
   
      background-color: var(--btn-hoverColor);

      &::after {
        content: '—';
      color: transparent;
      background: url(../images/but/arrow-w.svg) no-repeat right center;
      }
    }
  &:disabled {
      outline: none;
      color: var(--primaryColor);
      border-color: var(--btn-disabledColor);
      background-color: var(--btn-disabledColor);
      cursor: initial;
    }  
    &::after {
      content: '—';
      color: transparent;
      background: url(../images/but/arrow-b.svg) no-repeat right center;
      margin-left: 4px;
    }     
}

.btn__submit,
  .btn__map {
    display: block;
    position: relative;
    max-width: 250px;
    min-width: 114px;
    min-height: 38px;
    padding: 10px 17px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #000000;
   
    
    background-color: var(--accentColor);
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  
    transition-property: background-color, color;
  transition-duration: var(--transitionDuration);
  transition-timing-function: var(--transitionTimingFunction);

    &:hover,
    &:focus {
      
      background-color: var(--btn-hoverColor);
    }
    &:focus {
        outline: none;
        background-color: var(--btn-hoverColor);
        color: var(--extrabackgroundColor);
      }
    &:disabled {
        outline: none;
        color: var(--primaryColor);
        border-color: var(--btn-disabledColor);
        background-color: var(--btn-disabledColor);
        cursor: initial;
      }  
  
  }

  .btn__map {
    width: 145px;

  }
  .btn__map-second {
    width: 134px;

  }

  .btn__submit-second {
    width: 121px;
  }

  .btn__submit-third {
    width: 132px;
  }


  .btn__read,
  .btn__buy {
    display: block;
    position: relative;
    max-width: 165px;
    min-width: 120px;
    min-height: 40px;
    padding: 10px 34px;
  
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #000000;
    
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  
    background-color: var(--accentColor);
  
   
    transition-property: background-color, color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
  
    &:hover,
    &:focus {
      
      background-color: var(--btn-hoverColor);
    }
    &:focus {
        outline: none;
        color: var(--extrabackgroundColor);
        background-color: var(--btn-hoverColor);

        &::after {
          content: '—';
          color: transparent;
          background: url(../images/but/arrow-w.svg) no-repeat right center ;  
        }
  
      }
    &:disabled {
        outline: none;
        color: var(--primaryColor);
        border-color: var(--btn-disabledColor);
        background-color: var(--btn-disabledColor);
        cursor: initial;
      }
    &::after {
      content: '—';
      color: transparent;
      background: url(../images/but/arrow-b.svg) no-repeat right center ;
      
    }  
  
  }

  .btn__buy {
    width: 152px;
  }
  