:root {
    --primaryColor: #131313;
    --btn-hoverColor: #0a8817;
    --btn-disabledColor: #ababab;
    --backgroundColor: #84a178;
    --extrabackgroundColor: #fcfcfc;
    --accentColor: #f8d24e;
    --textColor: #fcfcfc;
    --extraColor: #d6936d;
    --copyRightColor: #7A7A7A;
    --borderColor: #E1E1E1;
    --transitionDuration: 250ms;
    --transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
}