<button type="button" class="js-open-modal5" data-modal="5"> Открити franchise></button>

<!-- Несколько модальных окон -->

<div class="modal container__modal--review" data-modal="5">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close5" 5">
        <use href=" ./images/symbol-defs.svg#icon-card-_close20x20"></use>
    </svg>
    <h2 class="review__title">Thank you for your interest in owning an Ice Cream shop</h2>
    <p class="review__slogan">Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this
        time. Once
        the application process resumes, we will contact you for further information. Please fill out the contact
        information
        below and we will reach out for additional information. We appreciate your patience.</p>

    <form class="form--review" autocomplete="on">
        <div class="form__group--review">
            <input class="form__field--review" type="text" placeholder="Name" required name="user-name"
                pattern="[A-Za-z]{2,15}" title="Username must be upper or lower case letters" id="user-name" />
            <label class="form__label--review" for="user-name"></label>
        </div>

        <div class="form__group--review">
            <input class="form__field--review" type="tel" placeholder="Phone" name="tel" id="tel" required
                pattern="[0-9]{5,10}" title="Number must be 5 - 10 digits" />
            <label class="form__label--review" for="tel"></label>
        </div>

        <div class="form__group--review">
            <input class="form__field--review" type="Email" placeholder="Email" name="Email" id="Email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}"
                title="Enter your email in the format hero2231@gmail.com" />
            <label class="form__label--review" for="tel"></label>
        </div>

        <div class="form__coment--review">
            <textarea class="form__textarea--review" placeholder="Comment" name="comment" rows="3"></textarea>
            <label class="form__textarea-label--review"></label>
        </div>
        <button class="btn__colored" type="submit">Submit</button>
    </form>


</div>

<!-- Подложка под модальным окном -->
<div class="overlay-modal5 js-overlay-modal5"></div>
<script src="./js/modal5.js" type="module"></script>