<button type="button" class="js-open-modal" data-modal="1">Открытьingredients></button>
<div class="modal" data-modal="1">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close"">
        <use href=" ./images/symbol-defs.svg#icon-card-_close20x20"></use>
    </svg>
    <h1 class="modal__title">Chololate <br /> icecream</h1>
    <div class="circle__img">
        <img class="picture__chololate" src="./images/ChololateM132x132.jpg" alt="Chololate" width="132" height="132">
    </div>
    <ul class="components">
        <li class="components__weight">
            <div class="components__circle">
                <p class="components__number">320</p>
            </div>
            <p class="components__desc">kcal</p>
        </li>
        <li class="components__weight">
            <div class="components__circle">
                <p class="components__number">4g</p>
            </div>
            <p class="components__desc">Prote...</p>
        </li>
        <li class="components__weight">
            <div class="components__circle">
                <p class="components__number">8,2g</p>
            </div>
            <p class="components__desc">Fats</p>
        </li>
        <li class="components__weight">
            <div class="components__circle">
                <p class="components__number">40,4g</p>
            </div>
            <p class="components__desc">Carbs</p>
        </li>
    </ul>

    <h2 class="title__ingredients">Ingredients</h2>
    <div class="ingredients">
        <div class="ingredients__title">
            <ul class="ingredients__list">
                <li class="ingredients__list--title">Milk</li>
                <li class="ingredients__list--title">Belgian chocolate</li>
                <li class="ingredients__list--title">Cream</li>
                <li class="ingredients__list--title">Cocoa powder</li>
                <li class="ingredients__list--title">Sugar</li>
                <li class="ingredients__list--title">Vanilla sugar</li>
            </ul>
        </div>
        <div class="ingredients__number">
            <ul class="ingredients__weight">
                <li class="ingredients__weight--number">100ml</li>
                <li class="ingredients__weight--number">20g</li>
                <li class="ingredients__weight--number">150 ml</li>
                <li class="ingredients__weight--number">30g</li>
                <li class="ingredients__weight--number">40g</li>
                <li class="ingredients__weight--number">10g</li>
            </ul>
        </div>
    </div>

    <form class="form" autocomplete="on">
        <div class="form__group">
            <input class="form__field" type="text" required name="user-name" id="user-name" />
            <label class="form__label" for="user-name">Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="tel" name="tel" id="tel" required minlength="6" maxlength="12" />
            <label class="form__label" for="tel">Phone</label>
        </div>

        <div class="form__coment">
            <textarea class="form__textarea" name="comment" rows="5"></textarea>
            <label class="form__textarea-label list">Comment</label>
        </div>
        <button type="submit">Submit</button>
    </form>
    <!-- Подложка под модальным окном -->
    <div class="overlay-modal js-overlay-modal"></div>
</div>