<button data-modal4-open4 type="button" class="our-locationour">
    our-location
</button>

<div data-modal4 class="backdrop4 is-hidden4">
    <div class="modal4">
        <button data-modal4-close4 type="button" class="modal__button--close4">
            <svg class="modal__icon-button" width="11.11" height="11.06">
                <use href="./images/symbol-defs.svg#icon-modalclose"></use>
            </svg>
        </button>

        <h4 class="modal__title map__title">Our Locations</h4>
        <div class="map__img">
        </div>
        <form target="_blank" action="https://goo.gl/maps/7fsSbcLAVwe2evedA" rel="noopener noreferrer nofollow">
            <button class="btn__colored btn__colored--map" type="submit">Open map</button>
        </form>
    </div>
</div>