<button type="button" class="js-open-modal4" data-modal="4"> Открити How it’s made?></button>

<!-- Несколько модальных окон -->

<div class="modal container__locations" data-modal="4">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close4" 4">
        <use href=" ./images/symbol-defs.svg#icon-card-_close20x20"></use>
    </svg>
    <h2 class="map__title">Our Locations</h2>

    <div class="map__img">
    </div>
    <form action="https://goo.gl/maps/mY6so1vqxvNNxZ2m7" rel="noopener" rel="noreferrer" rel="nofollow"
        target="_ blank">
        <button class="btn__colored" type="submit">Open map</button>
    </form>

    <div class="overlay-modal4 js-overlay-modal4"></div>
    <!-- Подложка под модальным окном -->
    <div class="overlay-modal4 js-overlay-modal4"></div>
    <script src="./js/modal4.js" type="module"></script>
</div>