<button type="button" class="js-open-modal2" data-modal="2"> Открити Product card></button>

<!-- Несколько модальных окон -->

<div class="modal container__modal--product" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close2" 2">
        <use href=" ./images/symbol-defs.svg#icon-card-_close20x20"></use>
    </svg>
    <h2 class="modal__title">Buy now</h2>

    <div>
        <div class="blok__cream">
            <div class="circle__img--cream">
                <img class="picture__cream"
                    srcset="
                  ./images/icecreamMTD132x132.jpg 1x
                  ./images/icecreamMTD264x264@2x.jpg 2x 
                  " src=" ./images/icecreamMTD132x132.jpg" alt="ice cream" sizes="132" />
            </div>
            <p class="picture__title">ice cream</p>
            <div class="picture__blok"></div>
        </div>
        <div>
            <p class="picture__title">ice cream</p>
            <div class="picture__blok"></div>
        </div>
        <div class="blok__coffee">
            <div class="circle__img--coffee">
                <img class="picture__coffee " srcset="
                  ./images/icecoffeeMTD132x132.jpg 1x
                  ./images/icecoffeeMTD264x264@2x.jpg 2x
                  " src="./images/icecoffeeMTD132x132.jpg" alt="ice coffee" sizes="132" />
            </div>
            <p class="picture__title">ice coffee</p>
            <div class="picture__blok picture__blok--coffee"></div>
        </div>
        <div class="blok__milkshake">
            <div class="circle__img--milkshake">
                <img class="picture__milkshake " srcset="
                      ./images/milkshakesMTD132x132.jpg 1x
                      ./images/milkshakesMTD264x264@2x.jpg 2x
                      " src="./images/milkshakesMTD132x132.jpg" alt="milkshake" sizes="132" />
            </div>
            <p class="picture__title picture__title--milkshake">milkshake</p>
            <div class="picture__blok picture__blok--milkshake"></div>
        </div>
    </div>

    <form class="form" autocomplete="on">
        <div class="form__group">
            <input class="form__field" type="text" required name="user-name" id="user-name" />
            <label class="form__label" for="user-name">Name</label>
        </div>

        <div class="form__group">
            <input class="form__field" type="tel" name="tel" id="tel" required minlength="6" maxlength="12" />
            <label class="form__label" for="tel">Phone</label>
        </div>

        <div class="form__coment">
            <textarea class="form__textarea" name="comment" rows="3"></textarea>
            <label class="form__textarea-label list">Comment</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="overlay-modal2 js-overlay-modal2"></div>
<!-- Подложка под модальным окном -->
<div class="overlay-modal2 js-overlay-modal2"></div>
<script src="./js/modal2.js" type="module"></script>