<header class="header">
    <div class="header_container">
        <a class="header_logo" href="#">
            <img src="./images/logo_M40x38.png" alt="ice-cream_logo">
        </a>
        <nav class="main-navigation">
            <ul class="main-navigation_list">
                <li><a class="main-navigation_link" href="#">Home</a></li>
                <li><a class="main-navigation_link" href="#">How it's made</a></li>
                <li><a class="main-navigation_link" href="#">Our products</a></li>
                <li><a class="main-navigation_link" href="#">Contacts</a></li>
            </ul>
        </nav>
        <button type="button" class="header_menu-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="32" height="32">
                <use href="./images/symbol-defs.svg#icon-eva_menu-fill-32x32"></use>
            </svg>
        </button>
        <button type="button" class="header_order-button">Buy now</button>
    </div>
</header>