<!-- <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="menu-container__wrapper">
        <svg class="icecream-logo" width="40" height="37">
          <use href="./images/symbol-defs.svg#icon-Logo-M-40x37"></use>
        </svg>
        <button class="menu__closing-btn js-close-menu" type="button">
            <svg class="menu__close" width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-nav_close-32x32"></use>
            </svg>
        </button>
    </div>

    <nav class="menu">
        <ul class="menu__list list">
            <li class="menu__list-item">
                <a class="menu__link" href="#!">Home</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__link" href="#how-its-made">How it’s made?</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__link" href="#products">Our products</a>
            </li>
            <li class="menu__list-item">
                <a class="menu__link" href="#contacts">Contacts</a>
            </li>
        </ul>
        <button class="menu__btn btn__buy js-open-modal2" type="button" data-modal="2">Buy now</button>
    </nav>
   

    
</div> -->