.header {
    background-color: var(--backgroundColor);
}
.header_container {
    max-width: 480px;
    margin: 0px auto;
    padding: 12px 20px 0px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding: 20px 32px 0px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding: 8px 16px 0px;
        justify-content: normal;
    }
}

.header_logo {
    @media screen and (min-width: 1200px) {
        margin-right: 308px;
    }
}

.main-navigation {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        margin-right: 204px;
    }
}
.main-navigation_list {
    display: flex;
    list-style-type: none;
    gap: 28px;
    margin: 32px 0px 13px;
}

.main-navigation_link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--textColor);
    padding: 13px 0px;
    transition: color var(--transitionDuration) var(--transitionTimingFunction);
}

.main-navigation_link:hover,
.main-navigation_link:focus {
    color: var(--accentColor);
}

.header_button-container {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}

.menu-button {
    background-color:  transparent;
    border: none;
    padding: 0px;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.menu-button_icon .menu-button:hover {
    fill: var(--accentColor);
}

.btn__buy {
    @media screen and (max-width: 768px) {
        display: none;
    }
}