<section class="contacts-section">
  <!-- < class="cafe-set"> -->
    <div class="cafe-chicago">
     <div class="contacts-container"
       <div class="contacts-box">
            <ul  class="contacts-list list">
              <li><a class="contacts-name contacts-item"></a></li>  
            <div><h2 class="contacts-title">CAFE</h2>
             </div>
            <div class="contacts-menu">
  
        <li><a href="" class="contacts-menu-town contacts-item">Chicago</a>
        </li>
        <li><a href="" class="contacts-menu-adress contacts-item">
             10340 Ridgeland Ave,<br>Chicago Ridge, IL 60415, USA</a>
        </li>
 
       <li>
      <div class="schedule">
     <a class="
     contacts-schedule-working
     contacts-schedule
      contacts-opening-hours 
      contacts-item"> 
     <span>Monday - Friday</span>
     06:00 AM - 10:00 PM
     <span>Saturday - Sunday</span> 
     08:00 AM - 16:00 PM
      </a>
      </div>
     </li>   
    <!-- <li -->
     <div class="contacts-tel-post">
         <a href="" class="contacts-item contacts-tel contacts-post  
         ">+61(0) 383 766 284<br>
           noreply@envato.com</a>
    
     </div>
     </div>
     </div>

   
    <!-- </li>  -->
  </div>
  
     </div>
    </div>
   </li>

  <div class="foodtruck">
 
 
   <div class="contacts-container"
    <div class="contacts-box">
    <ul>
  
    <li><a class="contacts-name contacts-item"></a> 
     <div>
       <h2 class="contacts-title-foodtruck">FOOD-TRUCK</h2>
     </div>
    </li> 
    <div class="contacts-menu">
  
    <li><a href="" class="contacts-menu-town contacts-item" >Los Angeles</a></li>
     <li><a href="" class="contacts-menu-adress contacts-item">1003 Manhattan Ave, Manhattan<br>
      Beach, CA 90263, USA</a>
   </li>
    <div class="schedule">
     <a class="contacts-schedule-working contacts-schedule contacts-opening-hours contacts-item"> 
     <span>Monday - Friday</span>
     06:00 AM - 10:00 PM
     <span>Saturday - Sunday</span> 
     08:00 AM - 16:00 PM </a>
    </div>
 <li>
      <div class="contacts-tel-post">
            <a href="" class="contacts-item contacts-tel contacts-post"> 
              +61(0) 383 766 284<br>  noreply@envato.com</a>
       </div>
   </li>

   </li>
  
 
  </ul>
  </div> 
  </div>
</div>
 <!-- </li> -->
<!-- </ul> -->
<!-- <div class="cafe-set"> -->
 <div class="cafe-newyork">
 
   <div class="contacts-container"
      <div class="contacts-box">
       <ul>
  
          <li><a class="contacts-name contacts-item"></a> 
           <div>
             <h2 class="contacts-title">CAFE</h2>
           </div>
          </li> 
         <div class="contacts-menu">
  
          <li><a href="" class="contacts-menu-town contacts-item" >New York</a>
          </li>
           <li><a href="" class="contacts-menu-adress contacts-item">726 Sterling Pl, Brooklyn, NY <br>
               11222, USA</a>
           </li>
        <div class="schedule">
          <a class="contacts-schedule-working contacts-schedule contacts-opening-hours contacts-item"> 
          <span>Monday - Friday</span>
          06:00 AM - 10:00 PM
          <span>Saturday - Sunday</span> 
          08:00 AM - 16:00 PM </a>
        </div>
   
      <li>
       <div class="contacts-tel-post">
            <a href="" class="contacts-item contacts-tel contacts-post"> 
              +61(0) 383 766 284<br>  noreply@envato.com</a>
       </div>
     </li>
<!-- </ul> -->
    </div> 
   </div>
  </div>
 
 </section>
  