<section class="contacts-section contacts-overley ">
  <div class="container ">
  <h2 class="visual-hiden">contacts</h2>
  <ul class="cafe-set list">
    <li class="cafe-chicago cafe-set-item">
        <h2 class="contacts-title">CAFE</h2>
        <p class="contacts-menu-town">Chicago</p>
        <a class="contacts-menu-adress contacts-item"
        href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
        target="_blank"
        rel="noopener noreferrer nofollow">
        10340 Ridgeland Ave, Chicago  Ridge, IL 60415, USA
        </a>
         <div class="schedule">
          <a class="
          contacts-schedule-working
          contacts-schedule
           contacts-opening-hours 
           contacts-item"> 
          <span>Monday - Friday</span>
          06:00 AM - 10:00 PM
          <span>Saturday - Sunday</span> 
          08:00 AM - 16:00 PM
           </a>
           </div> 
           <div class="contacts-tel-post" >
            <a class="contacts-item contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts-item contacts-post" href="malito:noreply@envato.com">noreply@envato.com</a>
          </div>
          </li>
    <li class="foodtruck cafe-set-item">
      <h2 class="contacts-title-foodtruck">FOODTRUCK</h2>
      <p class="contacts-menu-town">Los Angeles</p>
      <a class="contacts-menu-adress contacts-item"
      href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
      target="_blank"
      rel="noopener noreferrer nofollow">
      1003 Manhattan Ave,<br> Manhattan
        Beach, CA 90263, USA
      </a>
       <div class="schedule">
        <a class="
        contacts-schedule-working
        contacts-schedule
         contacts-opening-hours 
         contacts-item"> 
        <span>Monday - Friday</span>
        06:00 AM - 10:00 PM
        <span>Saturday - Sunday</span> 
        08:00 AM - 16:00 PM
         </a>
         </div> 
         <div class="contacts-tel-post">
          <a class="contacts-item contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-item  contacts-post" href="malito:noreply@envato.com">noreply@envato.com</a>
        </div>
        </li>
  <li class="cafe-newyork cafe-set-item ">
    <h2 class="contacts-title">CAFE</h2>
    <p class="contacts-menu-town">New York</p>
    <a class="contacts-menu-adress contacts-item"
    href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
    target="_blank"
    rel="noopener noreferrer nofollow">
    726 Sterling Pl, Brooklyn, NY 11222, USA
    </a>
     <div class="schedule">
      <a class="
      contacts-schedule-working
      contacts-schedule
       contacts-opening-hours 
       contacts-item"> 
      <span>Monday - Friday</span>
      06:00 AM - 10:00 PM
      <span>Saturday - Sunday</span> 
      08:00 AM - 16:00 PM
       </a>
       </div> 
       <div class="contacts-tel-post" >
        <a class="contacts-item contacts-tel " href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-item  contacts-post" href="malito:noreply@envato.com">noreply@envato.com</a>
     </div>
      </li> 
    </ul>
    <div class="contacts__buttons">
      <button class="contacts_locations btn__colored-arrow" type="button">
        Our Locations
      </button>
      <button class="contacts_franchise btn__transparent-arrow" type="button">
        Franchise
      </button>
    </div>
     </div>
</section>