<section  class="customer overlay">    
 

    <div class="customer-container">   
     <!-- <h2>Customer Reviews</h2> -->
     <ul class="customer-list"> </ul>

   <li class="customer-item">
    <div class="customer-foto "></div>
    <li class="item-team">
          
        <picture>

         <source media="(min-width: 1200px)"
         srcset=".webp,  2x.webp "
         type="image/webp"
         >

         <source media="(min-width: 1200px)"
         srcset="./ , 2x.jpg "
         type="image/jpg"
         >
         <img src=".jpg" alt="фото Emily" width="85"
         <source media="(min-width: 768px)"
         srcset=".webp, 2x.webp"
         type="image/webp"
         >
         <source media="(min-width: 768px)"
         srcset=".jpg,  2x.jpg"
         type="image/jpg"
         >
         <img src=".jpg" alt="фото Emily" width="84"

         <source media="(max-width: 767px)"
         srcset=".webp, 2x.webp"
         type="image/webp"
         >
        
         <source media="(max-width: 767px)"
         srcset=".jpg, 2x.jpg"
         type="image/jpg"
         >
         <img src=".jpg" alt="фото Emily" width="85"
         loading="lazy">
        </picture> 
         </div>
         </li>
                  
  
                 
     
    
   <li class="customer-item">
    <div class="">
    <p class="customer-note"> "I love visiting your cafe.
       You prepare the most delicious ice cream in Los Angeles! 
      In addition, you have beautiful serving, cozy atmosphere and polite staff."></p>
    </div>
   </li>
   
    <li class="customer-item">
     <p  class="customer-name">Emily, Los Angeles</p></li>


       <li class="customer-item">
        <title>Angular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

       </li> 
    </div>
  
  </section>  