<section  class="customer overlay">    
 

    <div class="customer-container">   
     <!-- <h2>Customer Reviews</h2> -->
     <ul class="customer-list"> </ul>

   <li class="customer-item">
    <div class="customer-foto "></div>

    <picture>
        <source
         media="(min-width:1200px)"
         srcset=" "
         >
         <img  class="customer-desktop jpg" alt="фото Emily" width="85"
         loading="lazy"
         >
    </picture>
         </div>
                  
     </li>
           <li class="">
                  <div class="">
                    <picture>
                      <source
                       media="(min-width:768px)"
                       srcset=" "
                       >
    <img  class="customer-tablet jpg" src=" " alt="фото Emily" width="84"
    loading="lazy">                         
     </picture>
   </div> 
   </li>   
   <li class="customer-item">
    <div class="customer-foto "></div>

    <picture>
        <source
         media="(max-width:480px)"
         srcset=" "
         >
         <img  class="customer-mobile jpg" alt="фото Emily" width="85"
         loading="lazy"
         >
    </picture>
         </div>
                  
  
                 
     
    
   <li class="customer-item">
    <div class="">
    <p class="customer-note"> "I love visiting your cafe.
       You prepare the most delicious ice cream in Los Angeles! 
      In addition, you have beautiful serving, cozy atmosphere and polite staff."></p>
    </div>
   </li>
   
    <li class="customer-item">
     <p  class="customer-name">Emily, Los Angeles</p></li>


       <li class="customer-item">
        <title>Angular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

       </li> 
    </div>
  
  </section>  