<section class="gallery"> 
  <div class="container">
    <h2 class="visually-hidden">Gallery ice cream</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="gallery__big"
          srcset="./images/brooke-larkPH1013x420.jpg 1x, ./images/brooke-larkPH2026x840@2x.jpg 2x"
          src="./images/brooke-larkPH1013x420.jpg" alt="brooke-lark">
        </div>
        <div class="swiper-slide">
          <img class="gallery__big"
                srcset="./images/courtney-cookPH1013x422.jpg 1x, ./images/courtney-cookPH2026x844@2x.jpg 2x"
                src="./images/courtney-cookPH1013x422.jpg" alt="courtney-cook">
        </div>
        <div class="swiper-slide">
          <img class="gallery__big"
                srcset="./images/unsplashPH1013x422I.jpg 1x, ./images/unsplashPH2026x844@2x.jpg 2x"
                src="./images/unsplashPH1013x422I.jpg" alt="unsplash">
        </div>
      </div>
    </div>
  
  </div>
  </section>