<section class="gallery">
  
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="gallery__big "
          srcset="./images/brooke-larkPH1013x420.jpg 1x, ./images/brooke-larkPH2026x840@2x.jpg 2x"
          src="./images/brooke-larkPH1013x420.jpg" alt="brooke-lark">
        </div>
        <div class="swiper-slide">
          <img class="gallery__big"
                srcset="./images/courtney-cookPH1013x422.jpg 1x, ./images/courtney-cookPH2026x844@2x.jpg 2x"
                src="./images/courtney-cookPH1013x422.jpg" alt="courtney-cook">
        </div>
        <div class="swiper-slide">
          <img class="gallery__big"
                srcset="./images/unsplashPH1013x422I.jpg 1x, ./images/unsplashPH2026x844@2x.jpg 2x"
                src="./images/unsplashPH1013x422I.jpg" alt="unsplash">
        </div>
      </div>
      
      
      
    </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            
            <div class="gallery__img">
              <img class="gallery__smail"
                  srcset="./images/EmilyMD85x85.jpg 1x, ./images/EmilyMD170x170@2x.jpg 2x"
                  src="./images/EmilyMD85x85.jpg" alt="Emily">
              </div>
            <div class="gallery__one">
            <p class="gallery__text">I love visiting your cafe.
              You prepare the most delicious ice cream in Los Angeles! 
             In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <h2 class="gallery__title">Emily, Los Angeles</h2>
          </div>
          <div class="swiper-slide">
            
                <div class="gallery__img">
                  <img class="gallery__smail"
                    srcset="./images/BryanD85x85.jpg 1x, ./images/BryanD170x170@2x.jpg 2x"
                    src="./images/BryanD85x85.jpg" alt="bryan">
                </div>
                <div class="gallery__one">
                <p class="gallery__text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                </div>
                <h2 class="gallery__title">Bryan, New-York</h2>
          </div>
          <div class="swiper-slide">
            
                <div class="gallery__img">
                  <img class="gallery__smail"
                    srcset="./images/DianaD85x85.jpg 1x, ./images/DianaD170x170@2x.jpg 2x"
                    src="./images/DianaD85x85.jpg" alt="diana">
                </div>
                <div class="gallery__one">
                <p class="gallery__text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                </div>
                <h2 class="gallery__title">Diana, Chicago</h2>
          </div>
          ...
        </div>
        
        <div class="swiper-pagination"></div>
      </div>
  </div>
  </section>