<section class="goods overlay">
    <div class="container">
        <p class="quality-percentages">100% NATURAL</p>
        <h2 class="title-section">PRODUCTS</h2>
        <ul class="list-products">
            <li class="list-products__net">
                <div class="list-products__image list-products__image--one"></div>
                <h3 class="list-products__title">ICE CREAM</h3>
                <p class="list-products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button type="button" class="list-products__modal--button">
                    <svg class="list-products__arrow">
                        <use href = './images/symbol-defs.svg#icon-Arrow'></use>
                    </svg>
                </button>
            </li>
            <li class="list-products__net">
                <div class="list-products__image list-products__image--two"></div>
                <h3 class="list-products__title">ICE COFFE</h3>
                <p class="list-products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="list-products__modal--button">
                    <svg class="list-products__arrow">
                        <use href = './images/symbol-defs.svg#icon-Arrow'></use>
                    </svg>
                </button>
            </li>
            <li class="list-products__net">
                <div class="list-products__image list-products__image--three"></div>
                <h3 class="list-products__title">MILKSHAKES</h3>
                <p class="list-products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button  type="button" class="list-products__modal--button">
                    <svg class="list-products__arrow">
                        <use href = './images/symbol-defs.svg#icon-Arrow'></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>