.overlay-modal {
    z-index: 20;
}
.modal {
    @media screen and (min-width: 1200px) {
        transform: translate(-50%, -50%);
        min-width: 568px;
    }
}
.review__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primaryColor);
}
.review__slogan {
    margin-bottom: 24px;
    text-align: left;
}
.form__group {
    margin-bottom: 12px;
}
.form__field {
    height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form__field:focus+.form__label {
    opacity: 0;
}

.form__label {
    padding: 8px 48px 8px 12px;
    margin-left: 5px;
}

.form__textarea {
    height: 64px;
    padding: 8px 48px 40px 12px;
    margin-bottom: 26px;
}

.form__textarea:focus+.form__textarea-label {
    opacity: 0;
}