.backdrop2 {
   position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);

    transition: all 1s ease 0s;

}

.backdrop2.is-hidden2 {
    transition: all 1s ease 0s;
    transform: perspective(600px) translate(0px, 100%) rotatey(45deg);
}

.modal2 {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -48%);
    padding: 28px;
    overflow-y: scroll;
    overflow-x: hidden;

    @media screen and (min-width: 480px) {
        max-width: 568px;
    }

    @media screen and (min-width: 768px) {
        padding: 32px 60px;
        top: 60%
    }

}

.review__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--primaryColor);

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(28 / 20);
    }
}

.review__slogan {
    margin-bottom: 24px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--primaryColor);

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 140%;
    }
}

.form--review {

    @media screen and (min-width: 480px) {
        max-width: 568px;
        margin-left: auto;
        margin-right: auto;
    }


}


.form__group--review {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}

.form__field--review {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        height: 42px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 16px;
    }
}

.form__field--review:placeholder-shown {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color:var(--primaryColor);
}

.form__field--review:placeholder-shown {
    border: 1px solid #84A178;
}

.form__field--review:not(:placeholder-shown) {
    border-color: #2196f3;
}

.form__coment--review {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.form__textarea--review {

    display: block;
    width: 100%;
    height: 64px;
    padding: 8px 12px 40px 12px;

    background: rgba(248, 210, 78, 0.1);
    border-radius: 10px;
    resize: none;

    @media screen and (min-width: 768px) {
        height: 84px;
        padding-left: 16px;
        padding-top: 11px;
    }
}

.form__textarea--review::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--primaryColor);
}

.form__textarea--review:placeholder-shown {
    border: 1px solid #84A178;
}

.form__textarea--review:not(:placeholder-shown) {
    border-color: #2196f3;
}

.btn__colored--review {
    margin: 0 auto;
    padding: 12px 34px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
}