/* Стили для подложки */
.overlay-modal {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .5); */
    z-index: 20;

}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Установаем ширину окна  */
    width: 88%;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    text-align: center;
    padding: 28px 30px;
    border: 2px solid #F8D24E;

    @media screen and (min-width: 768px) {
        transform: translate(-50%, -50%);
        min-width: 568px;
        padding: 32px 60px;


    }

}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    fill: #131313;
    cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

.review__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #131313;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(28 / 20);
    }
}

.review__slogan {
    margin-bottom: 24px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 140%;
    }
}

.form--review {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        max-width: 568px;
        margin-left: auto;
        margin-right: auto;
    }
}


.form__group--review {
    position: relative;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        max-width: 568px;
        margin-bottom: 16px;
    }
}

.form__field--review {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 16px;
    }
}

.form__field--review:focus+.form__label--review {
    opacity: 0;
}

.form__label--review {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px;

    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #131313;

    @media screen and (min-width: 768px) {
        height: 42px;
        padding-left: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

.form__coment--review {
    position: relative;
}

.form__textarea--review {
    display: block;
    width: 100%;
    height: 64px;
    padding: 8px 12px 40px 12px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    resize: none;

    @media screen and (min-width: 768px) {
        height: 84px;
        padding-left: 16px;
        padding-top: 11px;
    }
}

.form__textarea-label--review {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
}

.form__textarea--review:focus+.form__textarea-label--review {
    opacity: 0;
}