
.modal1,
.modal2,
.modal3,
.modal4,
.modal5,
.modal7,
.modal8,
.modal9 {
    width: 88%;
    z-index: 300;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #F8D24E;
    background: var(--extrabackgroundColor);
    overflow: visible;
}
.backdrop1.is-hidden1,
.backdrop2.is-hidden2,
.backdrop3.is-hidden3,
.backdrop4.is-hidden4,
.backdrop5.is-hidden5,
.backdrop7.is-hidden7,
.backdrop8.is-hidden8,
.backdrop9.is-hidden9 {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal__button--close1,
.modal__button--close2,
.modal__button--close3,
.modal__button--close4,
.modal__button--close5,
.modal__button--close7,
.modal__button--close8,
.modal__button--close9 {
    position: absolute;
    right: 16.48px;
    top: 16.44px;
    width: 11.11px;
    height: 11.06px;
    border: transparent;
    background-color: var(--extrabackgroundColor);
    cursor: pointer;

    @media screen and (min-width: 768px) {
        right: 17.37px;
        top: 17.33px;
    }

}

.modal__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(28 / 20);
    }

}