/* Стили для подложки */
.overlay-modal {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .5); */
    z-index: 10;

}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;

    /*  Установаем ширину окна  */
    width: 100%;
    min-width: 280px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    text-align: center;
    padding: 28px 20px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    @media screen and (min-width: 1200px) {
        /* transform: translate(-50%, -50%); */
        min-width: 568px;
    }
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    fill: #131313;
    cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

.map__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: #131313;
}

.map__img {
    width: 100%;
    height: 199px;
    background-image: url(../images/poltava224x199.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 24px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/poltava448x398@2x.png)
    }
}