.modal4 {
    padding: 28px;

    @media screen and (min-width: 480px) {
        max-width: 568px;
    }

    @media screen and (min-width: 768px) {
        padding: 32px 60px;
    }

}


.map__title {
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.map__img {
    height: 199px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 22px;
    background-image: url(../images/poltavaM224x199.png);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/poltava448x260.png)
    }

    @media screen and (min-width: 768px) {
        height: 260px;
        background-image: url(../images/poltava448x260.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/poltava896x520@2x.png);
        }
    }
}