.overlay-modal {
    z-index: 20;
}
.modal {
    @media screen and (min-width: 1200px) {
        transform: translate(-50%, -50%);
        min-width: 568px;
    }
}
.modal__title {
    font-size: 16px;
    line-height: calc(24 / 16);
}

.blok__cream {
    position: relative;
    margin-bottom: 87px;

}

.circle__img--cream {
    position: relative;
    width: 132px;
    height: 139px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

}

.picture__cream {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.picture__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    z-index: 110;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.picture__blok {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 35%;
    border-top: transparent;
    z-index: -1;

    width: 132px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 2px solid #96AF8C;
    border-radius: 15px;
}

.picture__blok--coffee {
    background: #EFD478;
    border: 2px solid #EFD478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}

.picture__blok--milkshake {
    border: 2px solid #D6936D;
}

.blok__coffee {
    position: relative;
    margin-bottom: 87px;
}

.circle__img--coffee {
    position: relative;
    width: 132px;
    height: 139px;
    margin-bottom: 22px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.picture__coffee {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    ;
}

.blok__milkshake {
    position: relative;

}

.circle__img--milkshake {
    position: relative;
    width: 132px;
    height: 139px;
    margin-bottom: 22px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

}

.picture__milkshake {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.picture__title--milkshake {
    margin-bottom: 52px;
}


.form__group {
    margin-bottom: 16px;
}

.form__field {
    height: 32px;
    padding: 8px 48px 12px 8px;
}

.form__label {
    padding: 8px 48px 12px 8px;
}

.form__textarea {
    height: 65px;
    padding: 8px 48px 40px 12px;
    margin-bottom: 26px;
}