.backdrop5 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.1);

    transition: all 1.5s ease 0s;
    
}

.backdrop5.is-hidden5 {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
    transition: all 1.5s;
    transform: rotate(360deg);
}


.modal5 {
    padding: 28px;
    background: var(--extrabackgroundColor);
    overflow: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    z-index: 300;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #F8D24E;
   

    @media screen and (min-width: 480px) {
        max-width: 568px;
    }

    @media screen and (min-width: 768px) {
        padding: 32px 60px;
    }

}

.videos {
    width: 100%;
}

.videos__wrapper {
    position: relative;
    max-width: 932px;
    margin: 0 auto;

}

.videos__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.recipe {
    margin-top: 20px;
    background: linear-gradient(90deg, #00d5ff74 0%, #92fed576 100%);
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.recipe__title {
    margin-bottom: 20px;
    padding-top: 10px;
}

.recipe__list {
    margin: 0;
    padding-bottom: 10px;
}

.recipe__ingredients {
    margin-bottom: 10px;
    text-align: start;
    font-size: 20px;
    line-height: 110%;
    color: var(--primaryColor);
    list-style-type: decimal
}

.recipe__ingredients:last-child {
    margin-bottom: 0;
}